@media only screen and (min-width: 1200px) {
  .otp {
    width: 60px !important;
    height: 60px !important;
    padding: 10px !important;
    outline: none;
    border-radius: 3px;
    border: 1px solid #e5e7eb !important;
  }
}
@media only screen and (min-width: 768px) {
  .otp {
    width: 50px !important;
    height: 50px !important;
    padding: 10px !important;
    outline: none;
    border-radius: 3px;
    border: 1px solid #e5e7eb !important;
  }
}
@media only screen and (max-width: 768px) {
  .otp {
    width: 45px !important;
    height: 45px !important;
    padding: 10px !important;
    outline: none;
    border-radius: 3px;
    border: 1px solid #e5e7eb !important;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
