body {
  font-family: "Mona-Sans", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.otp {
  width: 40px !important;
  height: 40px !important;
  padding: 10px;
  border: 1px solid #999999;
  border-radius: 4px;
  margin: 0 10px !important;
  font-size: 20px;
  font-weight: bold;
}
@media screen and (min-width: 1200px) {
  .otp {
    width: 50px !important;
    height: 50px !important;
    padding: 10px;
    border: 1px solid #999999;
    border-radius: 4px;
    margin: 0 10px !important;
    font-size: 20px;
    font-weight: bold;
  }
}
